/* DataTable styles */

#top {
	position: relative;
	background-color: #036fab;
	color: white;
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

#bottom {
	text-align: center; 
	position: relative;
	background-color: #c2dfef;
	padding: 5px;
	margin: 10px 0px 0px 0px;
	position: relative;
}

#left {
	float: left;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

#right {
	float: right;
	background-color: #ece3a5;
	padding: 5px;
	width: 150px;
}

.center_content {
	position: relative;
	background-color: #dddddd;
	padding: 5px;
	margin-top: 10px;
	min-height: 40px;	
}

.left_content {
	background-color: #dddddd;
	padding: 5px;
	margin-left: 170px;
}

.right_content {
	background-color: #dddddd;
	padding: 5px;
	margin: 0px 170px 0px 170px;
}

#top a:Link, #top a:visited {
	
}

/* Selection styles */

.value {
	font-weight: bold;
}

.ui-datatable table{
	margin-bottom: 25px;
}

.ui-datatable .ui-datatable-footer {
	text-align: left;
}

.ui-datalist ul {
	padding: 0 0 0 10px;
	margin: 5px 0;
}

.ui-datatable .ui-button-icon-only .ui-button-text {
	padding: 0;
	line-height: 1.2;
}

/* Filter styles */

.ui-outputpanel {
	text-align: right !important;
	vertical-align: baseline;
}

.ui-datatable .ui-datatable-header {
	text-align: center !important;
}

.ui-button-text-only .ui-button-text {
	padding: 0.3em 0.4em;
}

.ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
	visibility: hidden;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
	width: 100%;
	box-sizing: border-box;
}

.year-spinner input {
	width: 100%;
	box-sizing: border-box;
}

/* Export Page Style */
.ui-paginator a {
	margin-right: 5px;
}